<%- include('../partials/head') %>
    <%- include('../partials/header') %>

        <title>
            <%= title %>
        </title>

        <body>

            <h1>
                <%= about.head %>
            </h1>

            <p>Here's a random joke:</p>
            <p>
                <%= randomjoke.info %>
            </p>

            <%- include('../partials/footer') %>

        </body>